# Ignore Terraform provider binaries and state
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Ignore EXEs
*.exe

# Ignore sensitive files (optional)
*.tfvars
echo .terraform/ >> .gitignore
echo terraform.tfstate >> .gitignore
echo terraform.tfstate.backup >> .gitignore
echo mykey.pem >> .gitignore
echo *.exe >> .gitignore
